<div ng-controller="SqlQueryCtrl as sq">
    <form id="CreateSqlQueryForm" name="CreateSqlQueryForm" class="form-horizontal" role="form">
        <legend class="sm-col-12">Query Information</legend>

        <div class="form-group">
            <label id="lbl_Name" for="name" class="col-sm-4 control-label">Name</label>

            <div class="col-sm-8">
                <input ng-show="!sq.isEdit" type="text" class="form-control" name="name" id="name" placeholder=""
                       ng-model="sq.sqlquery.name">
                <span ng-show="sq.isEdit" class="form-control">{{sq.sqlquery.name}}</span>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_query_text" for="queryText" class="col-sm-4 control-label">Query</label>

            <div class="col-sm-8">
                <textarea type="text" class="form-control" name="queryText" id="queryText" placeholder=""
                       ng-model="sq.sqlquery.queryText" ></textarea>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_database" for="database" class="col-sm-4 control-label"
                   is-required="true">Database</label>

            <div class="col-sm-7">
                <select class="form-control"  ng-model="sq.database" ng-options="db.name for db in sq.databases" id="database">
                    <option value="">-- choose one --</option>
                </select>
            </div>
            <div ><button ng-click="sq.newDatabase()" class="btn btn-primary" id="btn_database">New</button></div>
        </div>

        <div class="form-group">
            <label id="lbl_description" for="description" class="col-sm-4 control-label"
                   is-required="false">Description</label>

            <div class="col-sm-8">
                <textarea type="text" class="form-control" name="description" id="description" placeholder=""
                       ng-model="sq.sqlquery.description"></textarea>
            </div>
        </div>

        <div class="err" ng-bind-html="sq.errorMsg" ng-show="sq.errorMsg.length > 0"></div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <input ng-show="!sq.isEdit" class="btn" style="height: 52px" type="image" title="Create the query" src="/assets/images/save.png" ng-click="sq.createSqlQuery()"/>
                <input ng-show="sq.isEdit" class="btn" style="height: 48px" type="image" title="Update the query" src="/assets/images/update.png" ng-click="sq.updateSqlQuery()"/>
                <input class="btn" style="height: 48px" type="image" title="Run the query" src="/assets/images/run.png" ng-click="sq.runQuery()"/>
                <input ng-show="sq.isEdit" class="btn" style="height: 48px " type="image" title="Delete the query" src="/assets/images/delete.jpg" ng-click="sq.deleteQuery(sq.sqlquery.name)"/>
                <input class="btn" style="height: 48px" type="image" title="Cancel the query" src="/assets/images/cancel.png" ng-click="sq.$location.path('/#/')"/>
             </div>
        </div>

        <div ng-show="myData != null" class="gridStyle" ng-grid="gridOptions"></div>

        <pre>{{ sq.sqlquery | json }}</pre>

    </form>
</div>